/* Hosted Springboard Styles */


/* validation style fixs */
.control-group.error {
  background:none; 
  color:#333;
}
.control-group.error label {
  color:#8c2e0b;
}
.control-group.success .error.valid,
.control-group.success .controls label {
  color:#468847;
}