

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f4f3ee;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

/* Messages */

div.alert {
  color: #fff;
  text-shadow: none;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 35px 10px 18px;
}

div.alert button.close {
  background: #fefefe;
  opacity: 1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 23px;
  position: relative;
  top: -2px;
  font-weight: normal;
  padding: 0;
  height: 23px;
}

div.warning {
  background-color: #edc380;
}

div.warning button.close {
  color: #edc380;
}

div.error {
  background-color: #da675d;
}

div.error button.close {
  color: #da675d;
}

div.status {
  background-color: #58a8a9;
}

div.status button.close {
  color: #58a8a9;
}

/* Form elements */

input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-image: -ms-linear-gradient(top, #3182b2 0%, #0265a0 100%);
  background-image: -moz-linear-gradient(top, #3182b2 0%, #0265a0 100%);
  background-image: -o-linear-gradient(top, #3182b2 0%, #0265a0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3182b2), color-stop(1, #0265a0));
  background-image: -webkit-linear-gradient(top, #3182b2 0%, #0265a0 100%);
  background-image: linear-gradient(to bottom, #3182b2 0%, #0265a0 100%);
  border: 1px solid #01598e;
  text-shadow: none;
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* Lists */

.content ul {
  margin: 0;
}

.content ol li,
.content ul li {
  margin-bottom: 14px;
}

.content ul li {
  list-style: none;
  position: relative;
  left: 26px;
}

.content ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: -26px;
  color: #ccc;
}
.content ul.tabs li:before,
.content ul.pager li:before {
  content: "";
}

.content ul li i {
  position: absolute;
  left: -26px;
}

/* Blockquotes */

q:before,
blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: -26px;
  color: #ccc;
  font-size: 2.3em;
  top: 10px;
}

q,
blockquote {
  position: relative;
  left: 26px;
  border-left: none;
}

/* Tables */

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}

tr.even,
tr.odd {
  border-bottom: none;
  border-top: none;
}

th {
  padding: 20px 14px;
  vertical-align: middle;
  color: #fff;
  background-image: -ms-linear-gradient(top, #143c54 0%, #08314b 100%);
  background-image: -moz-linear-gradient(top, #143c54 0%, #08314b 100%);
  background-image: -o-linear-gradient(top, #143c54 0%, #08314b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #143c54), color-stop(1, #08314b));
  background-image: -webkit-linear-gradient(top, #143c54 0%, #08314b 100%);
  background-image: linear-gradient(to bottom, #143c54 0%, #08314b 100%);
}

th.first {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

th.last {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

th a {
  color: #fff;
}

td {
  padding: 10px 14px;
  border-bottom: 1px solid #e1e0db;
  border-top: 3px solid #f4f3ee;
  background: #fefefe;
  border-right: 1px solid #e6e6e6;
}


