/** Essential Styles
* Gradients: http://www.colorzilla.com/gradient-editor/
*/

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f4f3ee;
  font-size: 13px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 19px;
}

h1.page-title {
  color: #FFF;
  margin-top: 5px;
}

h2 {
  font-size: 21px;
  font-weight: normal;
  text-transform: capitalize;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h4.panel-title {
  margin: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* sections / wrappers / layout */

#header-wrapper {
  background: #0086d6;
}

.inline-block {
  display: inline-block;
}

#logo-wrapper,
#menu-wrapper {
  vertical-align: top;
}

#logo-wrapper {
  padding: 3px 6px 0 0;
}

#top-wrapper {
  padding-top: 10px;
  height: 39px;
}

#main {
  padding-top: 20px;
  min-height: 500px
}

#page-title-wrapper {
  height: 50px;
  background: #085685 url("../images/bg-header.png") no-repeat center center;
}

#footer-wrapper {
  min-height: 475px;
  background: #085685 url("../images/bg-footer.png") no-repeat bottom center;
}

#copyright p {
  color: #fff;
}

.copyright-pipe {
  color: #000;
  font-weight: 100;
}

.view-content {
  padding-top: 2px;
}

.springboard-column {
  display: inline-block;
  vertical-align: top;
  width: 99%;
}

.springboard-pane.odd {
  margin-left: 0;
}

.springboard-pane .button.add-button {
  float: right;
}

.springboard-dashboard-customize {
  margin-bottom: 22px;
}

#salesforce-status-pane {
  padding: 0;
}

div.springboard-pane p {
  padding: 6px;
}


/* sync-status dashboard */

.springboard-sf-status .sf-status {
  background: #fefefe;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.springboard-sf-status ul li,
.springboard-sf-status .sf-status {
  border-bottom: solid 1px #e8e7e2;
  padding-bottom: 10px;
}

.springboard-sf-status ul li:last-child {
  border-bottom: none;
}

.springboard-sf-status a.button,
.sf-notconncected,
.sf-connected {
  font-weight: normal;
}

.sf-notconncected,
.sf-connected {
  margin-bottom: 5px;
}

.sf-notconncected,
.sf-connected,
.successes {
  color: #58a8a9;
}

.springboard-sf-status .sf-status a.button,
.springboard-sf-status .sf-status #edit-submit {
  padding: 7px 10px 7px 30px;
}

.springboard-sf-status .sf-status a.button:before,
.springboard-sf-status .sf-status #springboard-dashboard-queue:before {
  content: "\f01e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: relative;
  left: 20px;
  top: 7px;
  color: #fff;
}

/* main menu */

/* uncomment for theming */
.dropdown-menu {
  /*display: block !important;*/
}

li.expanded,
li.collapsed,
li.leaf {
  padding: 0.28em 0.26em 0 0;
}

ul.nav-tabs {
  border-bottom: none;
  margin: 0;
}

.dropdown-menu {
  margin: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
} /* Force nav to expand dropdowns on hover */

.dropdown-menu > li > a {
  margin-left: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.nav-tabs > li > a {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTNlNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #004066 0%, #013e63 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004066), color-stop(100%, #013e63), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #004066 0%, #013e63 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #004066 0%, #013e63 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #004066 0%, #013e63 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #004066 0%, #013e63 100%, #7db9e8 100%);
  color: #e9eef3;
  border: none;
}

.ie8 .nav-tabs > li > a {
  background: #004066;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a.active,
.nav-tabs > li.expanded.active-trail a.lia-depth-1 {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NzFhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTVjOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #1671a6 0%, #015c91 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1671a6), color-stop(100%, #015c91), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #1671a6 0%, #015c91 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #1671a6 0%, #015c91 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #1671a6 0%, #015c91 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1671a6 0%, #015c91 100%, #7db9e8 100%);
  color: #e9eef3;
  border: none;
}

/* ie8 */
.ie8 .nav-tabs > li > a:hover,
.ie8 .nav-tabs > li > a.active {
  background: #1671a6;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #fff;
  border: none;
}

/* other tools nav */

.nav-tabs .othertools a.lia-depth-1 {
  background: #1f95db;
}

/* Footer menu */

ul.nav.nav-footer {
  margin-top: 90px;
}

ul.nav.nav-footer ul {
  margin: 0;
}

ul.nav.nav-footer a {
  color: #fefefe;
}

ul.nav.nav-footer a:hover {
  text-decoration: underline;
}

ul.nav.nav-footer li.li-depth-0 {
  display: inline-block;
  vertical-align: top;
  width: 32.16%;
  margin-bottom: 16px;
}

.ie8 ul.nav.nav-footer li.li-depth-0 {
  width: 24%;
}

ul.nav.nav-footer li.first.li-depth-0 {
  margin-top: 10px;
}

ul.nav.nav-footer li.li-depth-1 {
  margin-top: 5px;
}

ul.nav.nav-footer li.li-depth-1 a {
  font-weight: 100;
}

ul.nav.nav-footer li a.lia-depth-1 {
  font-size: 19px;
  line-height: 1.3em;
}

ul.nav.nav-footer li a.lia-depth-1:hover {
  background: none;
  text-decoration: underline;
}

/* Messages */

div.alert,
.views-group {
  color: #fff;
  text-shadow: none;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 35px 10px 18px;
}

div.alert a {
  color: #fff;
  text-decoration: underline;
}

div.alert button.close {
  background: #fefefe;
  opacity: 1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 23px;
  position: relative;
  top: -2px;
  font-weight: normal;
  padding: 0;
  height: 23px;
  opacity: 1;
  filter: alpha(opacity=100);
}

div.warning,
.views-group.debug {
  background-color: #edc380;
}

div.warning button.close {
  color: #edc380;
}

div.error,
.views-group.critical {
  background-color: #da675d;
}

div.error button.close {
  color: #da675d;
}

div.status,
.views-group.info {
  background-color: #58a8a9;
}

div.status button.close {
  color: #58a8a9;
}

/* Form elements */

select,
button,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: 'Open Sans', sans-serif;
  color: #043b5c;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: 32px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

input[type="checkbox"] {
  margin: 0;
  position: relative;
  top: 2px;
}

#edit-submit,
#edit-preview,
#edit-delete {
  margin: 10px 10px 0 0;
}

.fundraiser_submit_message img {
  margin-right: 6px;
}

.field-prefix {
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}

textarea {
  width: 99%;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
.button,
ul.tabs.primary li a {
  /* ie 9 hack */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjY1YTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  filter: none;
}

.view th img {
  left: 10px;
  position: relative;
  top: -2px;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
.button,
ul.tabs.primary li a {
  background: -moz-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3182b2), color-stop(100%, #0265a0), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #3182b2 0%, #0265a0 100%, #7db9e8 100%);
  border: 1px solid #01598e;
  text-shadow: none;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 4px 6px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
.button:hover,
ul.tabs.primary li a:hover {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1NmVhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTY3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #056eaa 0%, #0a6799 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #056eaa), color-stop(100%, #0a6799));
  background: -webkit-linear-gradient(top, #056eaa 0%, #0a6799 100%);
  background: -o-linear-gradient(top, #056eaa 0%, #0a6799 100%);
  background: -ms-linear-gradient(top, #056eaa 0%, #0a6799 100%);
  background: linear-gradient(to bottom, #056eaa 0%, #0a6799 100%);
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.ie8 input[type="submit"],
.ie8 input[type="button"],
.ie8 input[type="reset"],
.ie8 .button,
.ie8 ul.tabs.primary li a {
  background: #3182b2;
}

.ie8 input[type="submit"]:hover,
.ie8 input[type="button"]:hover,
.ie8 input[type="reset"]:hover,
.ie8 .button:hover,
.ie8 ul.tabs.primary li a:hover {
  background: #056eaa;
}

/* Get rid or button borders for ie 9 - 11, they don't render well with gradients and radius corners */
.ie9 input[type="submit"],
.ie10 input[type="submit"],
.ie11 input[type="submit"],
.ie9 input[type="button"],
.ie10 input[type="button"],
.ie11 input[type="button"],
.ie9 input[type="reset"],
.ie10 input[type="reset"],
.ie11 input[type="reset"],
.ie9 .button,
.ie10 .button,
.ie11 .button {
  border: none;
}

/* Search fields */

.views-widget .control-group .form-text {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  margin: 0px 3px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 150px;
}

/* 	Search fields for email and page templates  */

.view-sbv-email-templates #edit-keys-wrapper,
.view-sbv-page-templates #edit-keys-wrapper {
  float: left;
}

.view-sbv-email-templates #edit-keys-wrapper label,
.view-sbv-page-templates #edit-keys-wrapper label {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.view-sbv-email-templates .views-exposed-widget.views-submit-button,
.view-sbv-page-templates .views-exposed-widget.views-submit-button {
  padding-top: 28px;
}

.view-sbv-email-templates .views-exposed-widget.views-submit-button input[type="submit"],
.view-sbv-page-templates .views-exposed-widget.views-submit-button input[type="submit"] {
  padding: 7px 10px 7px 10px;
}

/* GA field formatting */

#edit-springboard-ga-trans .control-group,
#edit-springboard-ga-item .control-group {
  width: 50%;
  display: inline-block; 
}

#edit-springboard-ga-trans .control-group,
#edit-springboard-ga-item .control-group {
  width: 50%;
  display: inline-block; 
}

#edit-springboard-ga-trans .control-group input[type="text"],
#edit-springboard-ga-trans .control-group .description,
#edit-springboard-ga-item .control-group input[type="text"],
#edit-springboard-ga-item .control-group .description {
  width: 95%; 
}




/* forms > fieldsets */

fieldset {
  padding: 9px 0;
  border-bottom: 2px solid #e1e0db;
  margin-top: -8px;
  background: #fff;
}

fieldset fieldset {
  padding: 9px 0;
  border-bottom: none;
  margin-top: 0;
  background: inherit;
}

html.js fieldset.collapsed {
  height: 62px;
  border-bottom-width: 2px;
}

.fieldset-wrapper {
  padding: 26px 26px 0 26px;
}

fieldset a.fieldset-title:hover,
fieldset a.fieldset-title:active {
  text-decoration: none;
}

legend {
  border: none;
}

a.fieldset-title {
  color: #333;
}

fieldset fieldset legend {
  margin-bottom: 20px;
  position: relative;
  top: -20px;
}

fieldset fieldset legend .fieldset-legend {
  margin: 0;
  padding: 0;
}

.fieldset-legend {
  color: #333;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  top: 24px;
  height: 25px;
  display: block;
  margin-left: 26px;
}

a.fieldset-title:before {
  content: '';
  background: url("../images/sprite.png") no-repeat;
  height: 30px;
  padding-right: 10px;
  font-size: 1.5em;
  width: 28px;
  display: inline-block;
  position: relative;
  top: 6px;
  color: #333;
}

fieldset.collapsed a.fieldset-title:before {
  background-position: 0 -36px;
}

fieldset fieldset a.fieldset-title:before {
  content: "\f0d7";
  font-family: FontAwesome;
  background: none;
  font-size: .95em;
  top: 0px;
  left: 5px;
  padding-right: 0;
}

fieldset fieldset a.fieldset-title {
  font-size: 18px;
}

fieldset  fieldset.collapsed a.fieldset-title:before {
  content: "\f0da";
  font-family: FontAwesome;
  left: 7px;
}

fieldset fieldset .fieldset-wrapper {
  margin: 0;
  padding: 20px 0 10px 30px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f5fbfe;
  border-bottom: 2px solid #eaeaea;
}

fieldset .fieldset-wrapper {
  padding: 0 26px 0 26px;
  margin-top: 20px;
}

fieldset fieldset .fieldset-wrapper {
  margin-top: 4px;
}

.view-header .button,
.button-create {
  padding: 7px 10px 7px 22px;
  float: right;
}

.view-header .button:hover,
.button-create:hover {
  color: #fff;
  text-decoration: none;
}

.view-header a.button:before {
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: relative;
  left: -12px;
  color: #fff;
}

label.option {
  position: relative;
  top: 2px;
  padding-left: 4px;
  display: inline-block;
}

.accordion-toggle,
.accordion-toggle:hover {
  text-decoration: none;
}

a.accordion-toggle:before {
  content: '';
  background: url("../images/fieldset-arrows.png") no-repeat;
  height: 30px;
  padding-right: 10px;
  font-size: 1.5em;
  width: 28px;
  display: inline-block;
  position: relative;
  top: 6px;
  color: #333;
}

.panel-heading {
  margin-bottom: 20px;
}

.fieldset.collapsible .fieldset.collapsible .panel-heading {
  margin-bottom: 0;
}

.panel-collapse .panel-body {
  margin: 0 26px 20px 26px;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.panel-body .panel-body {
  margin: 0 26px 20px 26px;
  padding: 20px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f5fbfe;
  border-bottom: 2px solid #eaeaea;
}

.fieldset.collapsible .panel-title a.accordion-toggle {
  color: #333;
  font-weight: 400;
  font-size: 22px;
  margin-left: 28px;
  position: relative;
  top: 6px;
}

.fieldset.collapsible .fieldset.collapsible .panel-title a.accordion-toggle {
  top: 0;
  margin-left: 10px;
}

.fieldset.collapsible {
  background: #fff;
  border-bottom: 2px solid #e1e0db;
  margin-bottom: 5px;
}

.fieldset label {
  color: #7e7e7e;
}

a.accordion-toggle.collapsed:before {
  background-position: 0 -36px;
}

.fieldset.collapsible .fieldset.collapsible .panel-collapse .panel-body {
  margin: inherit;
  padding: inherit;
  border: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: inherit;
  margin: 30px 26px 20px 26px;
  padding: 20px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #f5fbfe;
  border-bottom: 2px solid #eaeaea;
}

.fieldset.collapsible .fieldset.collapsible {
  padding: 6px 20px 10px 0;
  margin-bottom: 10px;
  border-bottom: none;
}

.select-wrapper {
  border: 1px solid #dfdfdf;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 220px;
  margin-bottom: 10px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f0f0f0), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #fefefe 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #f0f0f0 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #f0f0f0 100%, #7db9e8 100%);
  height: 40px;
}

#webform-user-field-mapping .select-wrapper {
  width: 43%;
}

.ie8 .select-wrapper {
  background: #fefefe;
}

.select-wrapper .arrow {
  background: url('../images/sprite.png') no-repeat 98% -105px;
  height: 33px;
  position: relative;
  top: -44px;
  z-index: 0;
}

.select-wrapper select.input-small,
.select-wrapper select {
  background: transparent;
  border: 0px;
  height: 40px;
  -webkit-appearance: none;
  overflow: hidden;
  padding: 6px 8px 8px 8px;
  width: 150%;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.webform-datepicker .control-group {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}

.webform-datepicker .control-group .select-wrapper {
  width: 100%;
}

.webform-datepicker input[type="image"] {
  position: relative;
  top: -24px;
}

html.js input.form-autocomplete {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  background-position: 100% -138px;
}

html.js input.throbbing {
  background-image: url('../images/throbber.gif');
  background-position: 96% 10px;
}

#edit-start-date .control-group,
#edit-end-date .control-group {
  display: inline-block;
  margin-right: 10px;
}


/* Primary / secondary tabs */

ul.tabs.primary {
  margin: 14px 0 0 0;
}

ul.tabs.primary li,
ul.tabs.secondary li {
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
}

ul.tabs.primary li.active {
  background: #ebeae6;
}

ul.tabs.primary li a {
  display: block;
  padding: 8px 12px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 2px;
  line-height: 12px;
  text-transform: uppercase;
  font-size: .9em;
}

ul.tabs.primary li a.active {
  background: #fff;
  color: #0a6aa3;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding: 12px;
}

ul.tabs.secondary {
  padding: 6px 0 6px 8px;
  background: #ebeae6;
  margin-bottom: 8px;
  position: relative;
  top: -6px;
}

ul.tabs.secondary li a:hover,
ul.tabs.secondary li a.active {
  text-decoration: none;
}

/* Vertical tabs */

.vertical-tabs {
  background: #fefefe;
}

.vertical-tabs ul.vertical-tabs-list {
  border-top: none;
}

.vertical-tabs ul.vertical-tabs-list li {
  margin: 0 6px 8px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 48px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 100%); /* W3C */
}

.vertical-tabs ul.vertical-tabs-list li:hover {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0%, #d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0%, #d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0%, #d8d8d8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ededed 0%, #d8d8d8 100%); /* W3C */
}

.ie8 .vertical-tabs ul.vertical-tabs-list li {
  background: #fbfbfb; /* Old browsers */
}

.ie8 .vertical-tabs ul.vertical-tabs-list li:hover {
  background: #ededed; /* Old browsers */
}

div.vertical-tabs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.vertical-tabs ul.vertical-tabs-list li a,
.vertical-tabs ul.vertical-tabs-list li.selected a,
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #7e7e7e;
}

.vertical-tabs ul.vertical-tabs-list li.selected {
  margin-right: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  background: #fff;
}

.vertical-tabs ul.vertical-tabs-list li:before {
  content: '';
  background: url("../images/sprite.png") 4px -88px no-repeat;
  position: absolute;
  height: 17px;
  width: 30px;
  overflow: hidden;
  margin-top: 8px;
}

.vertical-tabs ul.vertical-tabs-list li.selected:before {
  background: url("../images/sprite.png") 4px -70px no-repeat;
}

.vertical-tabs ul.vertical-tabs-list li a {
  padding: 6px 6px 6px 30px;
  width: 150px;
}

.vertical-tabs ul.vertical-tabs-list li a:hover,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
  outline: none;
}

/* Lists */

.content ul {
  margin: 0;
}

.content ol li,
.content ul li {
  margin-bottom: 14px;
}

.page-springboard .content ul li,
.page-node-view .content ul li {
  list-style: none;
  position: relative;
  left: 26px;
}

.page-springboard .content ul li:before,
.page-node-view .content ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: -26px;
  color: #ccc;
}

.content ul.tabs li:before,
.content ul.pager li:before {
  content: "";
}

.content ul li i {
  position: absolute;
  left: -26px;
}

/* Blockquotes */

q:before,
blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: -26px;
  color: #ccc;
  font-size: 2.3em;
  top: 10px;
}

q,
blockquote {
  position: relative;
  left: 26px;
  border-left: none;
}

/***** Tables *****/

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  margin: 10px 0;
}

tr.even,
tr.odd {
  border-bottom: none;
  border-top: none;
}

/* -- Table blue header (default) **/

th {
  /* ie 9 hack */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0M2M1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODMxNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  filter: none;
}

th {
  padding: 16px 12px;
  vertical-align: middle;
  color: #FFF;
  background: -moz-linear-gradient(top, #143c54 0%, #08314b 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #143C54), color-stop(100%, #08314B), color-stop(100%, #7DB9E8));
  background: -webkit-linear-gradient(top, #143C54 0%, #08314B 100%, #7DB9E8 100%);
  background: -o-linear-gradient(top, #143c54 0%, #08314b 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #143c54 0%, #08314b 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #143C54 0%, #08314B 100%, #7DB9E8 100%);
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.ie8 th {
  background: #143c54;
}

/* -- Table red header */

/* ie 9 hack */
table.red th {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGM3MTY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhNjc1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}

table.red th {
  padding: 12px 14px;
  background: -moz-linear-gradient(top, #1e5799 0%, #dc7167 0%, #da675d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #dc7167), color-stop(100%, #da675d));
  background: -webkit-linear-gradient(top, #1e5799 0%, #dc7167 0%, #da675d 100%);
  background: -o-linear-gradient(top, #1e5799 0%, #dc7167 0%, #da675d 100%);
  background: -ms-linear-gradient(top, #1e5799 0%, #dc7167 0%, #da675d 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #dc7167 0%, #da675d 100%);
}

.ie8 table.red th {
  background: #1e5799;
}

th.first {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

th.last {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

th a {
  color: #fff;
}

th a:hover {
  color: #fff;
  text-decoration: underline;
}

td {
  padding: 8px 14px;
  border-bottom: 1px solid #e1e0db;
  border-top: 3px solid #f4f3ee;
  background: #fefefe;
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 18px;
}

td a {
  display: inline-block;
  padding: 0 5px;
}

td a.first {
  padding-left: 0;
}

td .control-group {
  margin-bottom: 0;
}

/* Pagers */

.content ul.pager {
  margin-bottom: 12px;
}

.pager li > a,
.pager li > span {
  /* ie 9 hack */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  filter: none;
}

.pager li > a,
.pager li > span,
ul.tabs.secondary li a {
  display: inline-block;
  padding: 5px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #7e7e7e;
  border: 1px solid #dfdfdf;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #f0f0f0 100%, #7db9e8 100%);
}

.ie8 .pager li > a,
.ie8 .pager li > span {
  background: #fcfcfc;
}

.pager li.pager-current > a,
.pager li.pager-current > span,
.pager li > a:hover,
.pager li > span:hover,
ul.tabs.secondary li a:hover,
ul.tabs.secondary li a.active {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #c5c4c4 0%, #cdcdcd 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5c4c4), color-stop(100%, #cdcdcd), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #c5c4c4 0%, #cdcdcd 100%, #7db9e8 100%);
  background: -o-linear-gradient(top, #c5c4c4 0%, #cdcdcd 100%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #c5c4c4 0%, #cdcdcd 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #c5c4c4 0%, #cdcdcd 100%, #7db9e8 100%);
  border: 1px solid #c5c4c4;
  color: #fefefe;
}

.ie8 .pager li.pager-current > a,
.ie8 .pager li.pager-current > span,
.pager li > a:hover,
.pager li > span:hover,
ul.tabs.secondary li a:hover,
ul.tabs.secondary li a.active {
  background: #c5c4c4;
}

/* Views */

.view .view-content td a {
  text-transform: capitalize;
}

.view.view-sbv-forms.view-id-sbv_forms.view-display-id-block .more-link,
.view.view-sbv-forms.view-id-sbv_forms.view-display-id-block_1 .more-link {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.views-group {
  padding: 12px 35px 12px 30px;
  margin-bottom: 10px;
}

.views-group a {
  color: #fff;
}

.content .views-group ul li:before {
  content: "";
}

.content .views-group ul li {
  left: 0;
}

.content .views-group ul li {
  margin-bottom: 8px;
}

.content .views-group ul li.views-row-last {
  margin-bottom: 0;
}

.view-footer {
  margin: 20px 0;
}

div.springboard-pane {
  display: block;
}


/* Views Filters */

#views-exposed-form-sbv-forms-page-1 div.views-exposed-widget,
#views-exposed-form-sbv-forms-page-2 div.views-exposed-widget {
  display: inline-block;
  vertical-align: top;
}

#views-exposed-form-sbv-forms-page-1 div.views-exposed-widget#edit-type-1-wrapper {
  width: 450px
}

#views-exposed-form-sbv-forms-page-1 div.views-exposed-widget#edit-type-1-wrapper .views-operator {
  float: left;
  margin-right: 5px;
}

#views-exposed-form-sbv-forms-page-1 #edit-title-wrapper,
#views-exposed-form-sbv-forms-page-2 #edit-title-wrapper,
#views-exposed-form-sbv-forms-page-1 #edit-field-fundraiser-internal-name-value-wrapper,
#views-exposed-form-sbv-forms-page-2 #edit-field-fundraiser-internal-name-value-wrapper {
  width: 410px;
}

#views-exposed-form-sbv-forms-page-1 #edit-title-wrapper .views-operator,
#views-exposed-form-sbv-forms-page-2 #edit-title-wrapper .views-operator,
#views-exposed-form-sbv-forms-page-1 #edit-field-fundraiser-internal-name-value-wrapper .views-operator,
#views-exposed-form-sbv-forms-page-2 #edit-field-fundraiser-internal-name-value-wrapper .views-operator {
  float: left;
}

#views-exposed-form-sbv-forms-page-1 input[type="submit"],
#views-exposed-form-sbv-forms-page-2 input[type="submit"] {
  margin-top: 30px;
  padding: 5px 6px;
}

/* Media queries -- these should order last. */

/* Override Booststrap's if needed. */
@media (max-width: 979px) and (min-width: 768px) {

 .container {
    width: 800px;
  }

}

/* Special media query for the dashboard. */
@media (min-width: 900px) {

  .springboard-column.sb-col-left {
    width: 65%;
  }

  .springboard-column.sb-col-right {
    width: 32%;
    margin-left: 2%;
  }

}

/* end min 900px media query */

/* Match bootstraps 'wide' setting. */
@media (min-width: 1200px) {

  ul.nav.nav-footer li.li-depth-0 {
    width: 15.9%;
  }

  .springboard-column {
    width: 44.7%;
  }

  .springboard-column.sb-col-left {
    width: 54.7%;
  }

  .springboard-column.sb-col-right {
    width: 44.2%;
    margin-left: 1%;
  }

  input,
  .uneditable-input {
    width: inherit;
  }

}

/* end min 1200px media query */


/* if under 1199px media query */

@media (max-width: 1199px) {

  #footer-wrapper {
    background-size: cover;
  }
  
}

/* end under 1199px media query */


@media (max-width: 768px) {

  body {
    padding: 0;
  }

  #main {
    padding: 20px 20px 0 20px;
  }

  .nav-tabs > li {
    width: 100%;
    display: block;
  }

  .nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .inline-block {
    display: block;
  }

  #top-wrapper,
  #page-title-wrapper {
    height: auto;
  }

  #header-inner {
    width: 100%;
    margin: 0 auto;
  }

  #logo-wrapper {
    padding-left: 12px;
  }

  ul.nav.nav-footer li.li-depth-0 {
    width: 46%;
    margin-left: 20px;
    margin-bottom: 26px;
  }

  ul.nav.nav-footer li.li-depth-0.home {
    margin-left: 0;
  }

  ul.nav.nav-footer {
    margin-top: 20px;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    width: 80%;
  }

}

/* end 768px media query */

@media only screen and (min-width: 769px) and (max-width: 979px) {

  .nav-tabs > li > a {
    padding-right: 4px;
    padding-left: 4px;
    font-size: .9em;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    width: 80%;
  }



}

/* end 769 - 979px media query */