<?php drupal_set_message('Warning! You have SOAP errors for unsynced content.', 'warning'); ?>
<?php drupal_set_message('Warning! You have SOAP errors for unsynced content.', 'error'); ?>
<?php drupal_set_message('Warning! You have SOAP errors for unsynced content.', 'status'); ?>
<p>
  <strong>Headings</strong>
</p><h1>H1 Lorem ipsum dolor</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor. Nunc sodales varius mi, sed lacinia risus venenatis non. Proin tortor libero, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat.
</p><h2>H2 sit amet, consectetur adipiscing</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor. Nunc sodales varius mi, sed lacinia risus venenatis non. Proin tortor libero, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat.
</p><h3>H3 elit. Donec vel euismod</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor. Nunc sodales varius mi, sed lacinia risus venenatis non. Proin tortor libero, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat.
</p><h4>H4 nibh. Aliquam placerat tellus vitae</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor. Nunc sodales varius mi, sed lacinia risus venenatis non. Proin tortor libero, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat.
</p><h5>H5, H6 tempor consequat. Sed tincidunt iaculis porttitor.</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor. Nunc sodales varius mi, sed lacinia risus venenatis non. Proin tortor libero, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat.
</p>
<p>
  <strong>Body Text and Default Typographic Elements</strong>
</p>
<p>
  Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit. Donec vel euismod nibh. Aliquam placerat tellus vitae tempor consequat. Sed tincidunt iaculis porttitor.</a> Nunc sodales varius mi, sed lacinia risus venenatis non. <strong>Strong text Proin tortor libero</strong>, accumsan nec tellus vitae, vestibulum accumsan tortor. Nulla facilisi. Sed at faucibus erat. <em>Emphasized text Morbi porttitor sit</em> amet ante eu egestas. Nulla eu tristique velit, et semper nisi. Nunc vestibulum at justo quis blandit. Duis eu dui eget urna vulputate suscipit. Nunc lobortis erat eget urna consectetur, sit amet rhoncus erat lobortis.
</p>
<p>
  Praesent fermentum molestie risus, in mollis elit cursus porttitor. Mauris ultricies justo vitae elementum vulputate. Pellentesque sem nisi, feugiat nec lacinia sit amet, consectetur vitae dolor. Phasellus condimentum volutpat purus non condimentum. Maecenas enim nulla, blandit quis nisi eget, varius blandit leo. Etiam vestibulum malesuada suscipit. Etiam tortor est, posuere at pharetra ut, hendrerit ac tortor. Etiam semper erat quis nunc tempor posuere. Phasellus fermentum est eget augue varius gravida. Curabitur ut ligula non augue elementum dignissim non eu sapien. Morbi mattis libero ut velit blandit commodo. Sed ac accumsan nulla.
</p>
<blockquote>
  Blockquote Etiam faucibus justo tempus nibh dapibus, at viverra elit rhoncus. Donec pretium eu massa at euismod. Ut eu pretium purus. Nullam tincidunt, orci in tempor dictum, massa turpis commodo metus, a faucibus lectus erat id augue.
</blockquote>
<p>
  Nulla consectetur, mi eget dictum sollicitudin, diam leo congue dolor, id mollis augue elit eget justo. Integer lobortis non elit eget tempor. Nulla congue, dolor sed sodales porta, tellus quam rhoncus elit, ut consectetur metus lorem vitae metus. Praesent est ipsum, feugiat et placerat at, lacinia a nisi. Aliquam erat volutpat. Etiam faucibus justo tempus nibh dapibus, at viverra elit rhoncus. Donec pretium eu massa at euismod. Ut eu pretium purus. Nullam tincidunt, orci in tempor dictum, massa turpis commodo metus, a faucibus lectus erat id augue.
</p>
<ul>
  <li>
    Nullam dictum lobortis lorem,
  </li>
  <li>
    et vestibulum nisi laoreet et.
  </li>
  <li>
    Mauris bibendum ac felis vel volutpat. In hac habitasse platea dictumst. Ut non odio quis nisi rhoncus varius. Sed dui enim, fringilla quis quam id, elementum malesuada turpis. Maecenas malesuada est vitae dui iaculis, eleifend volutpat velit luctus.
  </li>
  <li>
    Morbi non lectus sit amet urna
  </li>
  <li>
    vulputate suscipit at sed orci.
  </li>
  <li>
    Donec et quam gravida,
  </li>
  <li>
    faucibus enim sit amet,
  </li>
  <li>
    malesuada elit.
  </li>
  <li>
    Nulla lobortis, quam eget sollicitudin ultrices
  </li>
</ul>
<p>
  Suspendisse rutrum aliquam dapibus. Nunc vestibulum risus sapien. Nam non tortor at mauris venenatis tincidunt. Sed accumsan felis ut lectus luctus volutpat. Suspendisse neque mi, ullamcorper quis felis elementum, varius faucibus velit. Nam quis quam eleifend, varius nunc id, venenatis elit. Pellentesque augue odio, consequat ac interdum in, auctor id dui. Pellentesque ut sapien a tortor porta suscipit quis et metus. Pellentesque vitae arcu eget arcu malesuada venenatis id in augue. Etiam et lacus id lorem pellentesque sodales ac ac tortor.
</p>
<ol>
  <li>
    Nullam dictum lobortis lorem,
  </li>
  <li>
    et vestibulum nisi laoreet et.
  </li>
  <li>
    Mauris bibendum ac felis vel volutpat. In hac habitasse platea dictumst. Ut non odio quis nisi rhoncus varius. Sed dui enim, fringilla quis quam id, elementum malesuada turpis. Maecenas malesuada est vitae dui iaculis, eleifend volutpat velit luctus.
  </li>
  <li>
    Morbi non lectus sit amet urna
  </li>
  <li>
    vulputate suscipit at sed orci.
  </li>
  <li>
    Donec et quam gravida,
  </li>
  <li>
    faucibus enim sit amet,
  </li>
  <li>
    malesuada elit.
  </li>
  <li>
    Nulla lobortis, quam eget sollicitudin ultrices
  </li>
</ol>
<p>
  <strong> Horizontal rule</strong>
</p>
<hr>
<p>
  <strong>Tables</strong>
</p>
<table class="views-table cols-3">
  <thead>
  <tr>
    <th class="views-field views-field-title active"><a href="/admin/content/donation-forms?order=title&amp;sort=desc" title="sort by Title" class="active">Title<img typeof="foaf:Image" src="http://springboard.localhost:8888/misc/arrow-desc.png" width="13" height="13" alt="sort descending" title="sort descending"></a></th>
    <th class="views-field views-field-changed"><a href="/admin/content/donation-forms?order=changed&amp;sort=asc" title="sort by Last modified" class="active">Last modified</a></th>
    <th class="views-field views-field-edit-node"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd views-row-first">
    <td class="views-field views-field-title active"><a href="/node/17">Abigo Jugis Qui</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/17/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/17">view</a><a href="/node/17/clone">clone</a></td>
  </tr>
  <tr class="even">
    <td class="views-field views-field-title active"><a href="/node/37">Capto Quibus Similis</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/37/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/37">view</a><a href="/node/37/clone">clone</a></td>
  </tr>
  <tr class="odd">
    <td class="views-field views-field-title active"><a href="/node/3">Decet Eu Jus Luctus</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/3/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/3">view</a><a href="/node/3/clone">clone</a></td>
  </tr>
  <tr class="even">
    <td class="views-field views-field-title active"><a href="/node/9">Elit Exerci In</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/9/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/9">view</a><a href="/node/9/clone">clone</a></td>
  </tr>
  <tr class="odd">
    <td class="views-field views-field-title active"><a href="/node/14">Esse Quae Tego Uxor</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/14/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/14">view</a><a href="/node/14/clone">clone</a></td>
  </tr>
  <tr class="even">
    <td class="views-field views-field-title active"><a href="/node/6">Nutus Probo</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/6/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/6">view</a><a href="/node/6/clone">clone</a></td>
  </tr>
  <tr class="odd">
    <td class="views-field views-field-title active"><a href="/node/51">Qui Tincidunt Vindico</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:07 </td>
    <td class="views-field views-field-edit-node"><a href="/node/51/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/51">view</a><a href="/node/51/clone">clone</a></td>
  </tr>
  <tr class="even views-row-last">
    <td class="views-field views-field-title active"><a href="/node/2">Test Donation Form</a></td>
    <td class="views-field views-field-changed"> 10/15/2013 - 10:03 </td>
    <td class="views-field views-field-edit-node"><a href="/node/2/edit?destination=admin/content/donation-forms%3Forder%3Dtitle%26sort%3Dasc">edit</a><a href="/node/2">view</a><a href="/node/2/clone">clone</a></td>
  </tr>
  </tbody>
</table>
<strong>Forms</strong>
<form class="webform-client-form" enctype="multipart/form-data" id="webform-client-form-4" accept-charset="UTF-8" _lpchecked="1">
<div class="webform-component-fieldset fieldset" id="webform-component-fieldset">
  <div class="panel-heading"><h4 class="panel-title">
    Fieldset
  </h4></div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-textfield">Textfield </label>
    <input type="text" id="edit-submitted-fieldset-textfield" name="submitted[fieldset][textfield]" value="" size="60" maxlength="128" class="form-text">
  </div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-textfield-required">Textfield Required <span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-submitted-fieldset-textfield-required" name="submitted[fieldset][textfield_required]" value="" size="60" maxlength="128" class="form-text required">
  </div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-date">Date </label>
    <div class="webform-container-inline webform-datepicker">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-fieldset-date-month">Month </label>
        <select class="month form-select" id="edit-submitted-fieldset-date-month" name="submitted[fieldset][date][month]">
          <option value="" selected="selected">Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option>
        </select>
      </div>
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-fieldset-date-day">Day </label>
        <select class="day form-select" id="edit-submitted-fieldset-date-day" name="submitted[fieldset][date][day]">
          <option value="" selected="selected">Day</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
        </select>
      </div>
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-fieldset-date-year">Year </label>
        <select class="year form-select" id="edit-submitted-fieldset-date-year" name="submitted[fieldset][date][year]">
          <option value="" selected="selected">Year</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option>
        </select>
      </div>
      <input type="image" src="/sites/all/modules/contrib/webform/images/calendar.png" class="webform-calendar webform-calendar-start-2011-10-21 webform-calendar-end-2015-10-21 webform-calendar-day-0 hasDatepicker" alt="Open popup calendar" title="Open popup calendar" id="dp1382371155956">
    </div>
  </div>
  <div id="edit-submitted-fieldset-file-upload-ajax-wrapper">
    <div class="control-group">
      <label for="edit-submitted-fieldset-file-upload">File upload </label>
      <div id="edit-submitted-fieldset-file-upload" class="form-managed-file">
        <input type="file" id="edit-submitted-fieldset-file-upload-upload" name="files[submitted_fieldset_file_upload]" size="22">
        <input type="submit" id="edit-submitted-fieldset-file-upload-upload-button" name="submitted_fieldset_file_upload_upload_button" value="Upload" class="ajax-processed">
        <input type="hidden" name="submitted[fieldset][file_upload][fid]" value="0">
      </div>
    </div>
  </div>
</div>
<div class="control-group">
  <label for="edit-submitted-grid-select">Grid select </label>
  <table class="sticky-header" style="position: fixed; top: 28px; left: 86px; visibility: hidden; width: 431px;">
    <thead style="">
    <tr>
      <th class="webform-grid-question" style="width: 56px; display: table-cell;"></th><th class="checkbox webform-grid-option" style="width: 56px; display: table-cell;">option 1</th><th class="checkbox webform-grid-option" style="width: 56px; display: table-cell;">option 2</th><th class="checkbox webform-grid-option" style="width: 56px; display: table-cell;">option 3</th><th class="checkbox webform-grid-option" style="width: 56px; display: table-cell;">option 4</th>
    </tr>
    </thead>
  </table>
  <table class="webform-grid webform-grid-4 sticky-enabled tableheader-processed sticky-table">
    <thead>
    <tr>
      <th class="webform-grid-question"></th><th class="checkbox webform-grid-option">option 1</th><th class="checkbox webform-grid-option">option 2</th><th class="checkbox webform-grid-option">option 3</th><th class="checkbox webform-grid-option">option 4</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
      <td class="webform-grid-question">Question 1</td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q1-1">option 1 </label>
        <input type="radio" id="edit-submitted-grid-select-q1-1" name="submitted[grid_select][q1]" value="o1">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q1-2">option 2 </label>
        <input type="radio" id="edit-submitted-grid-select-q1-2" name="submitted[grid_select][q1]" value="o2">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q1-3">option 3 </label>
        <input type="radio" id="edit-submitted-grid-select-q1-3" name="submitted[grid_select][q1]" value="o3">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q1-4">option 4 </label>
        <input type="radio" id="edit-submitted-grid-select-q1-4" name="submitted[grid_select][q1]" value="o4">
      </div></td>
    </tr>
    <tr class="even">
      <td class="webform-grid-question">Question 2</td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q2-1">option 1 </label>
        <input type="radio" id="edit-submitted-grid-select-q2-1" name="submitted[grid_select][q2]" value="o1">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q2-2">option 2 </label>
        <input type="radio" id="edit-submitted-grid-select-q2-2" name="submitted[grid_select][q2]" value="o2">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q2-3">option 3 </label>
        <input type="radio" id="edit-submitted-grid-select-q2-3" name="submitted[grid_select][q2]" value="o3">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q2-4">option 4 </label>
        <input type="radio" id="edit-submitted-grid-select-q2-4" name="submitted[grid_select][q2]" value="o4">
      </div></td>
    </tr>
    <tr class="odd">
      <td class="webform-grid-question">Question 3</td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q3-1">option 1 </label>
        <input type="radio" id="edit-submitted-grid-select-q3-1" name="submitted[grid_select][q3]" value="o1">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q3-2">option 2 </label>
        <input type="radio" id="edit-submitted-grid-select-q3-2" name="submitted[grid_select][q3]" value="o2">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q3-3">option 3 </label>
        <input type="radio" id="edit-submitted-grid-select-q3-3" name="submitted[grid_select][q3]" value="o3">
      </div></td><td class="checkbox webform-grid-option">
      <div class="control-group">
        <label class="element-invisible" for="edit-submitted-grid-select-q3-4">option 4 </label>
        <input type="radio" id="edit-submitted-grid-select-q3-4" name="submitted[grid_select][q3]" value="o4">
      </div></td>
    </tr>
    </tbody>
  </table>

</div>
<div class="webform-component-fieldset fieldset collapsible" id="webform-component-fieldset-collapsible">
  <div class="panel-heading"><h4 class="panel-title">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="webform-component-fieldset-collapsible" href="#webform-component-fieldset-collapsible-body">Fieldset Collapsible</a>
  </h4></div>
  <div id="webform-component-fieldset-collapsible-body" class="panel-collapse in collapse" style="height: auto;"><div class="panel-body">
    <div class="fundraiser-payment-fields" id="edit-submitted-fieldset-collapsible-payment-fields-credit">
      <div class="control-group">
        <label for="edit-submitted-fieldset-collapsible-payment-fields-credit-card-number">Credit card number </label>
        <input class="input-large form-text" type="text" id="edit-submitted-fieldset-collapsible-payment-fields-credit-card-number" name="submitted[fieldset_collapsible][payment_fields][credit][card_number]" value="" size="20" maxlength="128">
      </div>
      <div class="expiration-date-wrapper clear-block">
        <div class="control-group">
          <label for="edit-submitted-fieldset-collapsible-payment-fields-credit-expiration-date-card-expiration-month">Expiration date </label>
          <select class="input-small form-select" id="edit-submitted-fieldset-collapsible-payment-fields-credit-expiration-date-card-expiration-month" name="submitted[fieldset_collapsible][payment_fields][credit][expiration_date][card_expiration_month]">
            <option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10" selected="selected">October</option><option value="11">November</option><option value="12">December</option>
          </select>
          <select class="input-small form-select" id="edit-submitted-fieldset-collapsible-payment-fields-credit-expiration-date-card-expiration-year" name="submitted[fieldset_collapsible][payment_fields][credit][expiration_date][card_expiration_year]">
            <option value="2013" selected="selected">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="edit-submitted-fieldset-collapsible-payment-fields-credit-card-cvv">CVV </label>
        <input class="input-small form-text" type="text" id="edit-submitted-fieldset-collapsible-payment-fields-credit-card-cvv" name="submitted[fieldset_collapsible][payment_fields][credit][card_cvv]" value="" size="6" maxlength="128">
      </div>
    </div>
    <input class="fundraiser-payment-methods" type="hidden" name="submitted[fieldset_collapsible][payment_method]" value="credit">
  </div></div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-collapsible-select-boxes">Select checkboxes </label>
    <div id="edit-submitted-fieldset-collapsible-select-boxes">
      <div class="control-group">
        <input type="checkbox" id="edit-submitted-fieldset-collapsible-select-boxes-1" name="submitted[fieldset_collapsible][select_boxes][option1]" value="option1" class="form-checkbox">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-boxes-1">option </label>

      </div>
      <div class="control-group">
        <input type="checkbox" id="edit-submitted-fieldset-collapsible-select-boxes-2" name="submitted[fieldset_collapsible][select_boxes][option2]" value="option2" class="form-checkbox">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-boxes-2">option </label>

      </div>
      <div class="control-group">
        <input type="checkbox" id="edit-submitted-fieldset-collapsible-select-boxes-3" name="submitted[fieldset_collapsible][select_boxes][option3]" value="option3" class="form-checkbox">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-boxes-3">option </label>

      </div>
      <div class="control-group">
        <input type="checkbox" id="edit-submitted-fieldset-collapsible-select-boxes-4" name="submitted[fieldset_collapsible][select_boxes][option4]" value="option4" class="form-checkbox">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-boxes-4">option </label>

      </div>
    </div>
  </div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-collapsible-select-drop-down">Select drop-down </label>
    <select id="edit-submitted-fieldset-collapsible-select-drop-down" name="submitted[fieldset_collapsible][select_drop_down]" class="form-select">
      <option value="" selected="selected">- None -</option><option value="option1">option</option><option value="option2">option</option><option value="option3">option</option><option value="option4">option</option>
    </select>
  </div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-collapsible-select-radios">Select radios </label>
    <div id="edit-submitted-fieldset-collapsible-select-radios">
      <div class="control-group">
        <input type="radio" id="edit-submitted-fieldset-collapsible-select-radios-1" name="submitted[fieldset_collapsible][select_radios]" value="option1">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-radios-1">option </label>

      </div>
      <div class="control-group">
        <input type="radio" id="edit-submitted-fieldset-collapsible-select-radios-2" name="submitted[fieldset_collapsible][select_radios]" value="option2">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-radios-2">option </label>

      </div>
      <div class="control-group">
        <input type="radio" id="edit-submitted-fieldset-collapsible-select-radios-3" name="submitted[fieldset_collapsible][select_radios]" value="option3">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-radios-3">option </label>

      </div>
      <div class="control-group">
        <input type="radio" id="edit-submitted-fieldset-collapsible-select-radios-4" name="submitted[fieldset_collapsible][select_radios]" value="option4">
        <label class="option" for="edit-submitted-fieldset-collapsible-select-radios-4">option </label>

      </div>
    </div>
  </div>
  <div class="control-group">
    <label for="edit-submitted-fieldset-collapsible-select-multi">Select Multi </label>
    <select multiple="multiple" name="submitted[fieldset_collapsible][select_multi][]" id="edit-submitted-fieldset-collapsible-select-multi" size="4" class="form-select">
      <option value="option1">option</option><option value="option2">option</option><option value="option3">option</option><option value="option4">option</option>
    </select>
  </div>

  <input class="btn" type="submit" id="edit-submit" name="op" value="Submit">
</form>
<strong>Primary &amp; Secondary Tabs</strong>
<ul class="tabs primary">
  <li class="active">
    <a href="/node/4" class="active">View<span class="element-invisible">(active tab)</span></a>
  </li>
  <li>
    <a href="/node/4/edit">Edit</a>
  </li>
  <li>
    <a href="/node/4/salesforce">Salesforce</a>
  </li>
  <li>
    <a href="/node/4/share_settings">Social</a>
  </li>
  <li>
    <a href="/node/4/webform">Webform</a>
  </li>
  <li>
    <a href="/node/4/webform-results">Results</a>
  </li>
  <li>
    <a href="/node/4/devel">Devel</a>
  </li>
</ul>
<ul class="tabs secondary">
  <li class="active">
    <a href="/node/4/webform" class="active">Form components<span class="element-invisible">(active tab)</span></a>
  </li>
  <li>
    <a href="/node/4/webform/emails">E-mails</a>
  </li>
  <li>
    <a href="/node/4/webform/configure">Form settings</a>
  </li>
</ul>

<strong>Pagination</strong>
<div class="item-list">
  <ul class="pager">
    <li class="pager-current first">
      <a title="Go to page 2" href="/admin/content?page=1">1</a>
    </li>
    <li class="pager-item">
      <a title="Go to page 2" href="/admin/content?page=1">2</a>
    </li>
    <li class="pager-next">
      <a title="Go to next page" href="/admin/content?page=1">next ›</a>
    </li>
    <li class="pager-last last">
      <a title="Go to last page" href="/admin/content?page=1">last »</a>
    </li>
  </ul>
</div>
