/* system messages */
div.alert {
  background-image: none;
}

/* Remove Drupal list images from menus */

ul.nav li {
  list-style-image: none;
  list-style-type: none;
}

/* override Drupal top margin on form items */
.form-item.control-group {
  margin-top: 0px;
}
